# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/

# Python virtual environments
venv/
.env/

# Data files
*.csv
*.json
